<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lanceli.cnodejs"
  version="1.1.2"
  android-versionCode="92"
  ios-CFBundleVersion="92"
  version="1.2.0"
  android-versionCode="98"
  ios-CFBundleVersion="98"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <name>CNodeJs</name>
    <description>
      Ionic app for https://cnodejs.org
    </description>
    <author email="lyfuture@gmail.com" href="http://github.com/lanceli">
      Lance Li
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
