.topics {
  .item-content {
    padding: 14px 16px 18px 72px;
  }
  .ago,
  .summary {
    font-size: 12px;
  }
  .tab {
    background-color: #E5E5E5;
    color: #999;
    border-radius: 2px;
    padding: 2px 4px;
  }
  .good,
  .top {
    background-color: $node-green;
    color: #fff;
  }
}
.topic-content {
  img {
    max-width: 100%;
  }
}
