.topic {
  .title {
    margin: 0;
  }
  .summary {
    margin: 8px 0;
  }
  .avatar {
    width: 16px;
    vertical-align: middle;
  }
}
.replies {
  .reply-content  {
    img {
        max-width: 100%;
    }
    p {
      overflow: visible !important;
      white-space: normal !important;
    }
  }
}
.topic-create {
  .topic-tabs {
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
  }
}
