.item {
  left: 0;
  right: 0;
}
.item-divider {
  color: #555;
  font-weight: normal;
  font-size: 14px;
}
.item-gap {
  border: 0 none;
  min-height: 0px;
}
.item-loading {
  text-align: center;
  color: #aaa;
}
.saverMode {
  .item-avatar {
    padding-left: 14px;
    &.item-complex {
      padding-left: 0;
    }
    > img {
      &:first-child {
        -webkit-transform: translate3d(-2000px, -2000px, 0px);
      }
    }
    .item-content {
      padding-left: 14px;
      padding-right: 16px;
      > img {
        &:first-child {
          -webkit-transform: translate3d(-2000px, -2000px, 0px);
        }
      }
    }
  }
}
