.item {
  left: 0;
  right: 0;
}
.item-divider {
  color: #555;
  font-weight: normal;
  font-size: 14px;
}
.item-gap {
  border: 0 none;
  min-height: 0px;
}
.saverMode {
  .item-avatar {
    padding-left: 14px;
    &.item-complex {
      padding-left: 0;
    }
    .item-content {
      padding-left: 14px;
      padding-right: 16px;
    }
  }
}
