.item {
  left: 0;
  right: 0;
}
.saverMode {
  .item-avatar {
    padding-left: 14px;
    > img {
      &:first-child {
        -webkit-transform: translate3d(-2000px, -2000px, 0px);
      }
    }
    .item-content {
      padding-left: 14px;
      padding-right: 16px;
      > img {
        &:first-child {
          -webkit-transform: translate3d(-2000px, -2000px, 0px);
        }
      }
    }
  }
}
