#copyright {
  margin: 20px 0 10px;
  text-align: center;
  color: #aaa;
  text-shadow: 0 1px 0 #fff;
}

.bold {
  font-weight: bold;
}

.pane {
  background-color: #f5f5f5;
}

.cnode {
  color: $node-green;
}

.cnode-bg {
  background-color: $node-green;
}
