<ion-view view-title="消息">
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-divider">
        未读消息
      </ion-item>
      <ion-item ng-repeat="message in messages.hasnot_read_messages">
        <p ng-if="message.type == 'reply'">
          <a href="#/user/{{message.author.loginname}}">{{message.author.loginname}}</a>
          在
          <a href="#/topic/{{message.topic.id}}">{{message.topic.title}}</a>
          中@了你
        </p>
        <p ng-if="message.type == 'at'">
          <a href="#/user/{{message.author.loginname}}">{{message.author.loginname}}</a>
          回复了
          <a href="#/topic/{{message.topic.id}}">{{message.topic.title}}</a>
        </p>
      </ion-item>
      <ion-item class="item-divider">
        已读消息
      </ion-item>
      <ion-item ng-repeat="message in messages.has_read_messages">
        <p ng-if="message.type == 'reply'">
          <a href="#/user/{{message.author.loginname}}">{{message.author.loginname}}</a>
          在
          <a href="#/topic/{{message.topic.id}}">{{message.topic.title}}</a>
          中@了你
        </p>
        <p ng-if="message.type == 'at'">
          <a href="#/user/{{message.author.loginname}}">{{message.author.loginname}}</a>
          回复了
          <a href="#/topic/{{message.topic.id}}">{{message.topic.title}}</a>
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
