<ion-view view-title="设置">
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-divider item-gap">
      </ion-item>
      <ion-item class="item-toggle">
        小尾巴
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-checked="settings.sendFrom" ng-model="settings.sendFrom">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        省流量
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-checked="settings.saverMode" ng-model="settings.saverMode">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-divider">
        关于
      </ion-item>
      <ion-item>
        当前版本
        <span class="item-note">
          {{ENV.version}}
        </span>
      </ion-item>
      <ion-item ng-click="feedback()">
        意见反馈
        <span class="item-note">
          Email
        </span>
      </ion-item>
      <ion-item onclick="window.open('itms-apps://itunes.apple.com/app/id954734793', '_system')" ng-if="platform.isIOS()">
        评分鼓励
      </ion-item>
      <ion-item onclick="window.open('http://blog.lanceli.com/about', '_blank', 'location=yes')">
        关于作者
      </ion-item>
      <ion-item onclick="window.open('https://cnodejs.org/about', '_blank', 'location=yes')">
        关于CNode社区
      </ion-item>
    </ion-list>
    <div id="copyright">
      &copy; {{now | date:'yyyy'}} Lance Li
      <br />
      4 Lovely <strong>JJ</strong>
    </div>
  </ion-content>
</ion-view>
