<ion-view title="详情">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-chatbubble-outline" ng-click="showReplyModal()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="row topic">
    <div class="col col90">
      <h4 class="title">{{topic.title}}</h4>
      <div class="summary">
        <strong>
          <a href="#/user/{{topic.author.loginname}}">
            <img ng-src="{{topic.author.avatar_url}}" class="avatar">
            {{topic.author.loginname}}</a>
        </strong>
        <span class="item-note" am-time-ago="topic.last_reply_at"></span>
      </div>
      <div class="topic-content" ng-bind-html="topic.content">
      </div>
    </div>
  </div>
  <ion-list class="replies">
    <ion-item ng-if="topic.replies.length == 0">
      暂无评论
    </ion-item>
    <ion-item class="item-avatar" ng-repeat="reply in topic.replies" ng-click="showActions(reply)">
      <img ng-src="{{reply.author.avatar_url}}">
      <p>
        {{reply.author.loginname}}
        <span class="item-note" am-time-ago="reply.create_at">
        </span>
      </p>
      <div class="reply-content" ng-bind-html="reply.content"></div>
    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>
