<ion-view title="{{currentTab|tabName}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-compose" ng-click="newTopic()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list class="topics">
      <ion-item class="item-avatar" ng-class="{'topic-top': topic.top}"
        collection-repeat="topic in topics"
        collection-item-width="'100%'"
        collection-item-height="getItemHeight(item, $index)"
        ng-style="{height: getItemHeight(item, $index)}"
        href="#/app/topic/{{topic.id}}">
        <img ng-src="{{topic.author.avatar_url}}">
        <h2>{{topic.title}}</h2>
        <p>
          <span>{{topic.tab|tabName}}</span>
          {{topic.author.loginname}}
          <span class="item-note" am-time-ago="topic.last_reply_at">
          </span>
        </p>
      </ion-item>
    </ion-list>
    <!--
      Loading icon of infinte-scroll not showing with collection-repeat
      https://github.com/driftyco/ionic/issues/2376
    -->
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="hasNextPage">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
